<h1>Hello, {{ title }}</h1>

<div class="flex justify-center items-center gap-4 text-xl">
  <button
    class="w-8 h-8 bg-blue-400 rounded-full disabled:bg-slate-400"
    (click)="decrement()"
    [disabled]="count <= 0"
  >
    -
  </button>
  <span>{{ count }}</span>
  <button class="w-8 h-8 p-2 bg-blue-400 rounded-full" (click)="increment()">
    +
  </button>
</div>

<div class="mt-4">
  <label for="todo">Add Todo : </label>
  <input
    class="border border-slate-300 rounded-md px-4 py-2 outline-none"
    type="text"
    name="todo"
    (change)="onInputChange($event)"
    (keypress)="addTodo($event)"
    value="{{ newTodo }}"
  />
  <p>Todos :</p>
  <ul>
    <li class="" *ngFor="let todo of todos">{{ todo }}</li>
  </ul>
</div>

<router-outlet />
